<section class="about-insurance">
  <h2>О страховании</h2>
  <div class="about-insurance__list">
    <div class="about-insurance__item">
      <div class="about-insurance__title">без ограничени</div>
      <div class="about-insurance__item-wrap">
        <img
          src="{{root}}assets/img/about-insurance/24-hours.svg"
          alt=""
          class="about-insurance__img"
          width="69px"
          height="69px"
        />
        <div class="about-insurance__text">обращения к доктору 24/7</div>
      </div>
    </div>
    <div class="about-insurance__item">
      <div class="about-insurance__title">без ограничений</div>
      <div class="about-insurance__item-wrap">
        <img
          src="{{root}}assets/img/about-insurance/calendar.svg"
          alt=""
          class="about-insurance__img"
          width="68px"
          height="68px"
        />
        <div class="about-insurance__text">обращения к врачам-специалистам</div>
      </div>
    </div>
    <div class="about-insurance__item">
      <div class="about-insurance__title">24/7</div>
      <div class="about-insurance__item-wrap">
        <img
          src="{{root}}assets/img/about-insurance/insurance.svg"
          alt=""
          class="about-insurance__img"
          width="76px"
          height="74px"
        />
        <div class="about-insurance__text">
          защита от несчастного случая + медицинский онлайн-сервис
        </div>
      </div>
    </div>
    <div class="about-insurance__item">
      <div class="about-insurance__title">до 2-х раз год</div>
      <div class="about-insurance__item-wrap">
        <img
          src="{{root}}assets/img/about-insurance/lab.svg"
          alt=""
          class="about-insurance__img"
          width="73px"
          height="73px"
        />
        <div class="about-insurance__text">лабораторные исследования</div>
      </div>
    </div>
    <div class="about-insurance__item">
      <div class="about-insurance__title">до 10 мин.</div>
      <div class="about-insurance__item-wrap">
        <img
          src="{{root}}assets/img/about-insurance/butterfly.svg"
          alt=""
          class="about-insurance__img"
          width="92px"
          height="66px"
        />
        <div class="about-insurance__text">упрощенная система страхования</div>
      </div>
    </div>
  </div>
</section>
