<section class="conditions-block">
  <h2>Условия которые мы предоставим Вам</h2>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <div class="conditions-block__col">
        <img
          class="conditions-block__img"
          src="{{root}}assets/img/conditions-block/Doctors-rafiki.svg"
          width="492px"
          height="492px"
          alt=""
        />
      </div>
    </div>
    <div class="medium-6 cell">
      <div class="conditions-block__col">
        <div class="conditions-block__title">20+</div>
        <div class="conditions-block__text">
          Высококвалифицированных врачей к которым вы можете обращаться 24/7
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell medium-order-2">
      <div class="conditions-block__col">
        <img
          class="conditions-block__img conditions-block__img_reverse"
          src="{{root}}assets/img/conditions-block/mobile.svg"
          width="351px"
          height="474px"
          alt=""
        />
      </div>
    </div>
    <div class="medium-6 cell medium-order-1">
      <div class="conditions-block__col conditions-block__col_reverse">
        <div class="conditions-block__title">
          <img src="{{root}}assets/img/conditions-block/BestDoctor.svg" alt="" />
        </div>
        <div class="conditions-block__text">
          Доступ в один из лучших медицинских сервисов в России
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <div class="conditions-block__col">
        <img
          class="conditions-block__img"
          src="{{root}}assets/img/conditions-block/Jogging-rafiki.svg"
          width="574px"
          height="574px"
          alt=""
        />
      </div>
    </div>
    <div class="medium-6 cell">
      <div class="conditions-block__col conditions-block__col_reverse">
        <div class="conditions-block__title">600 000₽</div>
        <div class="conditions-block__text">Сумма страховой защиты от нещастного случая</div>
      </div>
    </div>
  </div>
</section>
