<section class="insurance-case">
  <div class="grid-container grid-container_narrow">
    <h2>Что делать, если произошел страховой случай?</h2>
    <ul
      class="insurance-case__row tabs"
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500"
      data-tabs
      id="insurance-case-tabs"
    >
      <li class="tabs-title is-active">
        <a href="#panel1d" aria-selected="true" class="insurance-case__item">
          <img
            class="insurance-case__item-img"
            src="{{root}}assets/img/insurance-case/phone-call.svg"
            alt=""
            width="58px"
            height="58px"
          />
          <div class="insurance-case__item-title">Позвоните нам</div>
        </a>
      </li>
      <li class="tabs-title">
        <a class="insurance-case__item" href="#panel2d">
          <img
            class="insurance-case__item-img"
            src="{{root}}assets/img/insurance-case/google-docs.svg"
            alt=""
            width="62px"
            height="62px"
          />
          <div class="insurance-case__item-title">Заполните заявление</div></a
        >
      </li>
      <li class="tabs-title">
        <a class="insurance-case__item" href="#panel3d">
          <img
            class="insurance-case__item-img"
            src="{{root}}assets/img/insurance-case/comment.svg"
            alt=""
            width="55px"
            height="55px"
          />
          <div class="insurance-case__item-title">Узнайте статус решения вопроса</div></a
        >
      </li>
      <li class="tabs-title">
        <a class="insurance-case__item" href="#panel4d">
          <img
            class="insurance-case__item-img"
            src="{{root}}assets/img/insurance-case/archive.svg"
            alt=""
            width="72px"
            height="63px"
          />
          <div class="insurance-case__item-title">Полный архив всех условий</div></a
        >
      </li>
    </ul>
    <div class="insurance-case__tabs tabs-content" data-tabs-content="insurance-case-tabs">
      <div class="insurance-case__tab tabs-panel is-active" id="panel1d">
        <div class="content-block">
          <p>Наш номер:</p>
          <a class="insurance-case__phone" href="tel:+7 495 967 13 01">+7 495 967 13 01</a>
        </div>
      </div>
      <div class="insurance-case__tab tabs-panel" id="panel2d">
        <div class="content-block grid-x grid-padding-x">
          <div class="medium-6 cell">
            <p>Заполните заявление и подготовьте необходимые документы.</p>
            <p>Направьте документы в Страховую компанию удобным для Вас способом:</p>
            <ul>
              <li>через <a href="#">Личный кабинет</a></li>
              <li>письмом по адресу: 125252, г. Москва, а/я 28</li>
            </ul>
          </div>
          <div class="medium-6 cell">
            <p>Список необходимых документов для заключения договора:</p>
            <ul>
              <li>паспорт</li>
              <li>заявление на страхование</li>
              <li>иные документы – по запросу компании</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="insurance-case__tab tabs-panel" id="panel3d">
        <div class="content-block">
          <p>Узнать статус решения своего вопроса Вы можете любым удобным для Вас способом:</p>
          <ul>
            <li>через <a href="#">Личный кабинет</a></li>
            <li>позвонить по номеру <a href="tel:+7 495 967 13 01">+7 495 967 13 01</a></li>
          </ul>
        </div>
      </div>
      <div class="insurance-case__tab tabs-panel" id="panel4d">
        <a href="#" class="main-btn main-btn_flex main-btn_flex-grow"
          >скачать полный архив<br />всех условий<svg
            class="main-btn__img"
            viewBox="0 0 18 19"
            width="18px"
            height="18px"
          >
            <use xlink:href="assets/img/download.svg#svg"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
