<section class="main-form-finaly main-form-finaly_error-page">
  <div class="main-form-finaly__grid-container grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <div class="main-form-finaly__left">
          <h1 class="main-form-finaly__title">Оплата не прошла. Попробуйте еще раз.</h1>
          <div class="main-form-finaly__small-title">
            Возможно вы неправильно ввели данные или прервалась сеть интернет. Попробуйте заново.
          </div>
          <a href="#" class="main-btn">Назад к оплате</a>
        </div>
      </div>
    </div>
  </div>
</section>
