<section class="main-form-finaly">
  <div class="main-form-finaly__grid-container grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <div class="main-form-finaly__left">
          <h1 class="main-form-finaly__title">
            <span class="main-form-finaly__title-up">Оплата прошла успешно!</span>
          </h1>
          <div class="main-form-finaly__small-title">
            Вы успешно застрахованы, теперь можете смотреть в будущее с увереностью!
          </div>
          <div class="main-form-finaly__btns">
            <a href="#" class="main-btn"
              >Распечатать квитанцию<svg
                class="main-btn__img"
                viewBox="0 0 21 19"
                width="21px"
                height="19px"
              >
                <use xlink:href="{{root}}assets/img/main-form/print.svg#svg"></use>
              </svg>
            </a>
            <a href="#" class="main-btn"
              >Скачать квитанцию<svg
                class="main-btn__img"
                viewBox="0 0 18 19"
                width="18px"
                height="18px"
              >
                <use xlink:href="{{root}}assets/img/download.svg#svg"></use>
              </svg>
            </a>
            <a href="#" class="main-btn">Назад на главную</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
