<section class="preview-main-form">
  <div class="preview-main-form__grid-container grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <div class="preview-main-form__left">
          <h1 class="preview-main-form__title">
            <span class="preview-main-form__title-up">Защита +</span>виртуальная клиника и
            лабораторные исследования
          </h1>
          <div class="preview-main-form__small-title">Форма заявления на строхование</div>
          <div class="preview-main-form__btns">
            <a href="main-form.html" class="preview-main-form__btn main-btn">Гражданин РФ</a>
            <a href="main-form.html" class="preview-main-form__btn main-btn">Не гражданин РФ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
