<section class="question-block">
  <div class="grid-container grid-container_narrow">
    <h2>Часто задаваемые вопросы</h2>
    <ul class="vertical menu accordion-menu" data-accordion-menu>
      <li>
        <a class="question-block__link" href="#"
          >Сколько раз в год можно обратиться к терапевту или педиатру по данной программе?</a
        >
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
      <li>
        <a class="question-block__link" href="#"
          >Количество обращений не ограничено в течение всего срока действия договора.</a
        >
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
      <li>
        <a class="question-block__link" href="#"
          >Сколько раз в год можно обратиться к узкому специалисту?</a
        >
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
      <li>
        <a class="question-block__link" href="#">Как получить консультацию врача?</a>
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
      <li>
        <a class="question-block__link" href="#"
          >Какие врачи-специалисты представлены в сервисе, кроме терапевта и педиатра?</a
        >
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
      <li>
        <a class="question-block__link" href="#"
          >Как получить консультацию педиатра, если возраст ребенка меньше 1 года, и оформить на
          ребенка программу нельзя?
        </a>
        <ul class="menu vertical nested">
          <li class="question-block__accordion-text">
            Количество обращений не ограничено в течение всего срока действия договора.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
