<section class="service-packages">
  <div class="grid-container">
    <h2>У нас есть 2 пакета услуг</h2>
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <div class="service-packages__item service-packages__item_offer">
          <div class="service-packages__item-top">
            <div class="service-packages__title"><span>Что мы предлогаем:</span></div>
          </div>
          <div class="service-packages__wrap">
            <ul class="service-packages__ul vertical menu accordion-menu" data-accordion-menu>
              <li class="service-packages__li">
                круглосуточный колл-центр по консультациям терапевта или педиатра
              </li>
              <li class="service-packages__li">
                консультация терапевта или педиатра по телефону или по видеосвязи
              </li>
              <li class="service-packages__li">
                предварительная запись к выбранному узкому специалисту по телефону или через личный
                кабинет пациента
              </li>
              <li class="service-packages__li">консультация узкого специалиста по видеосвязи</li>
              <li class="service-packages__li">выбор лаборатории, запись на прием в лабораторию</li>
              <li class="service-packages__li">
                комплексный отчет о состоянии здоровья пациента от врача после получения результатов
                анализов от пациента
              </li>
              <li class="service-packages__li">никаких чат-ботов</li>
              <li class="service-packages__li">
                на связи 24/7 только высококвалифицированные врачи
              </li>
              <li class="service-packages__li">
                удобное приложение с простым интерфейсом BestDoctor
              </li>
              <li class="service-packages__li">
                <a class="js-service-packages__link-accordion" href="#"
                  >общие (клинические) анализы</a
                >
                <ul class="menu vertical nested">
                  <li><a href="#">Item 1A</a></li>
                  <li><a href="#">Item 1B</a></li>
                </ul>
              </li>
              <li class="service-packages__li">
                <a class="js-service-packages__link-accordion" href="#"
                  >ультразвуковые исследования</a
                >
                <ul class="menu vertical nested">
                  <li>
                    <a href="#">УЗИ органов брюшной полости</a>
                  </li>
                  <li><a href="#">почек</a></li>
                  <li><a href="#">мочевого пузыря</a></li>
                  <li><a href="#">УЗДГ сосудов (артерии и вены)</a></li>
                  <li>одно исследование из списка в течение срока действия программы</li>
                </ul>
              </li>
              <li class="service-packages__li">
                <a class="js-service-packages__link-accordion" href="#"
                  >рентгенологические исследования</a
                >
                <ul class="menu vertical nested">
                  <li><a href="#">Item 1A</a></li>
                  <li><a href="#">Item 1B</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <a class="service-packages__btn main-btn main-btn_flex main-btn_flex-grow" href="#">
          скачать полуную версию
          <svg class="main-btn__img" viewBox="0 0 18 19" width="18px" height="18px">
            <use xlink:href="{{root}}assets/img/download.svg#svg"></use>
          </svg>
        </a>
      </div>
      <div class="medium-4 cell">
        <div class="service-packages__item">
          <div class="service-packages__item-top">
            <div class="service-packages__title"><span>Защита +</span>виртуальная клиника</div>
          </div>
          <div class="service-packages__wrap">
            <ul class="service-packages__ul service-packages__ul_center">
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check service-packages__li-check_line">
                <img
                  src="{{root}}assets/img/service-packages/line.svg"
                  width="22px"
                  height="2px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check service-packages__li-check_line">
                <img
                  src="{{root}}assets/img/service-packages/line.svg"
                  width="22px"
                  height="2px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check service-packages__li-check_line">
                <img
                  src="{{root}}assets/img/service-packages/line.svg"
                  width="22px"
                  height="2px"
                  alt=""
                />
              </li>
            </ul>
            <div class="service-packages__price">10 500 руб.</div>
            <button class="main-btn">купить</button>
          </div>
        </div>
      </div>
      <div class="medium-4 cell">
        <div class="service-packages__item">
          <div class="service-packages__item-top">
            <div class="service-packages__title">
              <span>Защита +</span>виртуальная клиника, лабораторные исследования
            </div>
          </div>
          <div class="service-packages__wrap">
            <ul class="service-packages__ul service-packages__ul_center">
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
              <li class="service-packages__li-check">
                <img
                  src="{{root}}assets/img/service-packages/checked.svg"
                  width="18px"
                  height="14px"
                  alt=""
                />
              </li>
            </ul>
            <div class="service-packages__price service-packages__price_red">
              <span class="service-packages__price-text">Супер цена</span> 7 750 руб
            </div>
            <button class="main-btn">купить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
