<section class="top-block">
  <div class="grid-x grid-padding-x">
    <div class="large-6 cell">
      <div class="top-block__left">
        <div>
          <h1 class="top-block__title">Страховая программе <strong> ЗАЩИТА +</strong></h1>
          <div class="top-block__text">
            Одна из самых удобных и выгодных страховых программ предоставляемых грожанам России и
            иностранным гражданам.
          </div>
        </div>
        <button class="top-block__main-btn main-btn">купить</button>
      </div>
    </div>
    <div class="large-6 cell">
      <img src="{{root}}assets/img/top-block/right-img.svg" alt="" width="509px" height="375px" />
    </div>
  </div>
</section>
